@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-dropdown-selected:before {
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  content: '';
  position: absolute;
  bottom: 6px;
  right: 8px;
  width: 22%;
  height: 22%;
  background-color: #fff;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  border-radius: 3px;
}

.custom-dropdown-selected:hover:before {
  background-color: #000;
}

.custom-dropdown:before {
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  content: '';
  position: absolute;
  bottom: 6px;
  right: 8px;
  width: 22%;
  height: 22%;
  background-color: #c1c1c1;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  border-radius: 3px;
}
